<!DOCTYPE html>
<html lang="en">

<head>
    <title>Report</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css" />
    <link rel="icon" href="/static/images/logo.png">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        async function deleteReport(url) {
            await fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-type': 'application/json'
                }
            });

            window.location.href = '/reports';
        }
    </script>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body class="bg-gradient-to-b  from-[#1A2B50] to-[#368DB3]">
    <main>
        <div class="mx-10 xl:mx-40 mt-4 flex flex-row space-x-2 justify-center items-center">
            <img class="h-20" src="/static/images/logo.png" alt="NaoNexus logo">
            <h1 class="text text-white text-4xl">NaoNexus Team</h1>
        </div>

        <div class="mx-10 xl:mx-40 my-20 p-10 rounded-xl bg-slate-50 space-y-4">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-2">
                    <span class="px-2 py-1 h-fit rounded-full mdi mdi-information-outline text-white bg-sky-500"></span>
                    <h1 class="text-2xl font-medium text-slate-800">REPORT DATA</h1>
                </div>
                <button onclick="deleteReport('/api/report{% if report['id'] != '' %}/{{report['id']}}{% endif %}')"
                    class="rounded px-4 py-2 bg-red-500 text-white hover:bg-red-600 transition-all flex flex-row h-fit">
                    <span class="mdi mdi-delete-outline mr-1"></span>
                    DELETE
                </button>
            </div>
            <form action="/api/report{% if report['id'] != '' %}/{{report['id']}}{% endif %}" method="POST"
                class="flex flex-col items-center space-y-4">
                <div class="grid grid-cols-3 gap-4 gap-x-10 justify-center">
                    <div class="flex flex-col space-y-2 col-span-2">
                        <label for="id" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-calendar-outline text-white bg-sky-400"></span>
                            ID</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="id" type="text"
                                value="{% if report['id'] != '' %}{{report['id']}}{% else %}NEW REPORT{% endif %}"
                                disabled
                                class="w-[450px] rounded outline-none border-2 border-slate-200 focus:border-sky-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2 ">
                        <label for="date" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-calendar-outline text-white bg-sky-400"></span>
                            DATE</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="date" name="date" type="datetime-local" value="{{report['date']}}" required
                                class="rounded outline-none border-2 border-slate-200 focus:border-sky-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2 ">
                        <label for="co2" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-molecule-co2 text-white bg-sky-400"></span>
                            CO2</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="co2" name="co2" type="text" value="{{report['co2']}}" maxlength="5"
                                pattern="^\d+$"
                                class="rounded outline-none border-2 border-slate-200 focus:border-sky-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                            <p class="font-mono">PPM</p>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-2 ">
                        <label for="temperature" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-thermometer text-white bg-sky-400"></span>
                            TEMPERATURE</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="temperature" name="temperature" type="text" value="{{report['temperature']}}"
                                pattern="^(\d{0,3}(.\d{0,2})?)$"
                                class="rounded outline-none border-2 border-slate-200 focus:border-sky-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                            <p class="font-mono">°C</p>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-2 ">
                        <label for="humidity" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-water-outline text-white bg-sky-400"></span>
                            HUMIDITY</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="humidity" name="humidity" type="text" value="{{report['humidity']}}"
                                maxlength="3" pattern="^\d+$"
                                class="rounded outline-none border-2 border-slate-200 focus:border-sky-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                            <p class="font-mono">% </p>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-2 ">
                        <label for="nPeople" class="font-medium text-slate-800">
                            <span
                                class="px-0.5 rounded-full mdi mdi-account-group-outline text-white bg-green-400"></span>
                            N° OF PEOPLE</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="nPeople" name="nPeople" type="text" value="{{report['nPeople']}}" maxlength="3"
                                pattern="^\d+$"
                                class="rounded outline-none border-2 border-slate-200 focus:border-green-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                            <p class="font-mono"></p>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-2 ">
                        <label for="internalLight" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-lightbulb-outline text-white bg-yellow-400"></span>
                            INTERNAL LIGHT</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="internalLight" name="internalLight" type="text"
                                value="{{report['internalLight']}}" maxlength="5" pattern="^\d+$"
                                class="rounded outline-none border-2 border-slate-200 focus:border-yellow-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                            <p class="font-mono">lux</p>
                        </div>
                    </div>

                    <div class="flex flex-col space-y-2 ">
                        <label for="externalLight" class="font-medium text-slate-800">
                            <span class="px-0.5 rounded-full mdi mdi-weather-sunny text-white bg-yellow-400"></span>
                            EXTERNAL LIGHT</label>
                        <div class="flex flex-row space-x-2 items-center">
                            <input id="externalLight" name="externalLight" type="text"
                                value="{{report['externalLight']}}" maxlength="5" pattern="^\d+$"
                                class="rounded outline-none border-2 border-slate-200 focus:border-yellow-500 focus:invalid:border-red-500 invalid:border-red-500 disabled:bg-slate-100" />
                            <p class="font-mono">lux</p>
                        </div>
                    </div>
                </div>
                <button class="rounded px-4 py-2 bg-sky-500 text-white hover:bg-sky-600 transition-all" type="submit">
                    <span class="mdi mdi-content-save-outline mr-1"></span>
                    SAVE
                </button>
            </form>
        </div>
    </main>
</body>

</html>